<html ng-app="apiApp">
<link rel="stylesheet" href="styles.css">
<body ng-controller="apiController">
		<form ng-submit="getPoke(ind)">
			<input ng-model="ind">
		</form>
		<button ng-click="prevPoke()">previous</button><button ng-click="nextPoke()">Next</button>

		<img class="sprite" ng-src="{{pokemon.sprites.front_default}}">
	<p>Name: {{pokemon.name[0].toUpperCase() + pokemon.name.slice(1)}}</p>
	<p>Weight: {{pokemon.weight}} lbs</p>


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>